head{
    background-color: rgb(233, 200, 129);
}
body {
    background-color: orange;
    background: url("123.jpg");
}
main.container {
    background-color: rgb(233, 200, 129);
    box-shadow: 0px 0px 40px black;
    border: 0px solid black;
    margin-top: 80px;
    width: 3000px;
    height: 600px;
}
#narudzbinaFroma{
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    padding: 6px;
    height: 200px;
}

#tabele{
    margin-top:  10px;
    margin-bottom: 50px;
    padding: 60px;
}
main h1{
    background-color: rgba(0, 50, 104, 0.048);
    margin-top:  5px;
    padding: 0px;
    font-size:xx-large;
}
#novojelodugme{
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}
#glavniRow{
    background-color: rgb(233, 200, 129);
    font-weight: bold;
}
.error {
    border-color: red;
}

.success {
    border-color: green;
}